/* Setting up variables for project */

:root {
  --colorBackground: #efedea;
  --colorDarkBackground: #423f37;
  --colorForeground: darkslategray;
  --colorLink: royalblue;
  --colorCode: crimson;
  --widgetAccent: #e4bd5c;
  --widgetDarkAccent: #fbbf24;
  --widgetBackground: #423f37;
  --widgetDarkBackground: white;
}

/* Main structure of app */

body {
  background-color: var(--colorBackground);
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

#mainContainer {
  margin: 0rem 1rem;
}

#mainContainer #error {
  display: none;
  color: red;
}

/* Color Mode Toggle Button */

.light-mode-button {
  background: 0;
  border: 0;
  cursor: pointer;
  width: 30px;
  height: 16px;
  border: 1px solid rgba(255, 255, 255, 0);
  position: fixed;
  top: 16px;
  right: 16px;
}

.light-mode-button:focus {
  outline: none;
}

.light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 16px;
  background-color: var(--widgetBackground);
  border-radius: 9px;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: var(--widgetDarkAccent);
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

body[light-mode="dark"] {
  background-color: var(--colorDarkBackground);
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: var(--colorBackground);
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
  left: 17px;
  background-color: var(--widgetDarkAccent) !important;
}

/* Color Mode Icons */

.darkModeIcon {
  position: fixed;
  top: 15px;
  right: 49px;
  height: 20px;
  display: none;
}

.active {
  display: block;
}

/* Header and paragraph for entire app */

#mainContainer h1 {
  color: var(--colorDarkBackground);
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

body[light-mode="dark"] #mainContainer h1,
body[light-mode="dark"] #mainContainer p {
  color: var(--widgetDarkBackground);
}

#mainContainer p {
  color: var(--colorDarkBackground);
  margin: 1.5rem 1rem;
  text-align: center;
  font-style: italic;
  font-size: small;
  word-wrap: break-word;
  max-width: 390px;
}

/* Header of Weather Widget */

#locationHeader {
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  background-color: var(--widgetAccent);
  transition: background-color 0.3s;
  color: var(--widgetBackground);
}

body[light-mode="dark"] #locationHeader {
  color: black;
  background-color: var(--widgetDarkAccent);
}

/* Main display of Weather Widget */

#weatherDisplay {
  height: 10rem;
  padding: 0.5rem;
  color: var(--widgetDarkBackground);
  background-color: var(--widgetBackground);
  transition: background-color 0.3s;
}

body[light-mode="dark"] #weatherDisplay {
  color: var(--colorDarkBackground);
  background-color: var(--widgetDarkBackground);
}

/* Temperature value display text in weather widget */

#tempDisplay {
  display: flex;
  gap: 1rem;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#tempSign {
  border-bottom: 3px solid var(--widgetAccent);
}

body[light-mode="dark"] #tempSign {
  border-bottom: 3px solid var(--widgetDarkAccent);
}

/* Temperature description display text in weather widget */

#tempText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  font-size: small;
  font-weight: 500;
}

/* Additional temperature details display text in weather widget */

#additionalDisplay {
  height: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-size: small;
  background-color: var(--widgetAccent);
  transition: background-color 0.3s;
  color: var(--widgetBackground);
}

body[light-mode="dark"] #additionalDisplay {
  color: black;
  background-color: var(--widgetDarkAccent);
}

#additionalDisplay img {
  height: 12px;
  opacity: 0.6;
  margin-right: 0.25rem;
}

body[light-mode="dark"] #additionalDisplay img {
  opacity: 0.9;
}

#additionalDisplay div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Location search in weather widget */

#weatherLocation form {
  display: inline;
}

#weatherLocation {
  cursor: pointer;
}

#weatherLocation input[type="text"] {
  width: 9rem;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  height: 1.25rem;
  text-indent: 2px;
  cursor: pointer;
}

#weatherLocation input[type="text"]:focus {
  outline-color: #1fadd5;
}

#weatherLocation input[type="submit"] {
  border: none;
  height: 1.25rem;
  border-radius: 5px;
  background-color: #503c0b;
  color: var(--colorBackground);
  cursor: pointer;
}
