:root {
  --colorBackground: #efedea;
  --colorDarkBackground: #423f37;
  --colorForeground: darkslategray;
  --colorLink: royalblue;
  --colorCode: crimson;
  --widgetAccent: #c9981d;
  --widgetDarkAccent: #fbbf24;
  --widgetBackground: #423f37;
  --widgetDarkBackground: #efedea;
}

.light-mode-button {
  background: 0;
  border: 0;
  cursor: pointer;
  width: 30px;
  height: 16px;
  border: 1px solid rgba(255, 255, 255, 0);

  /* Fixed position for this demo */
  position: fixed;
  top: 16px;
  right: 16px;
}

.light-mode-button:focus {
  outline: none; /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 16px;
  background-color: #8e9096;
  border-radius: 9px;
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

.light-mode-button span:nth-child(2) {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
  transition: 0.3s;
}

/* Light & Dark Mode Styles
		--------------------------- */

body {
  background-color: var(--colorBackground);
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

body[light-mode="dark"] {
  background-color: var(--colorDarkBackground);
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
  background-color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(2) {
  left: 17px;
  background-color: #141516;
}

.darkModeIcon {
  position: fixed;
  top: 15px;
  right: 49px;
  height: 20px;
  display: none;
}

.active {
  display: block;
}

#locationHeader {
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  background-color: var(--widgetAccent);
  transition: background-color 0.3s;
  color: var(--widgetBackground);
}

body[light-mode="dark"] #locationHeader {
  color: black;
  background-color: var(--widgetDarkAccent);
}

#weatherDisplay {
  height: 7rem;
  padding: 0.5rem;
  color: var(--widgetDarkBackground);
  background-color: var(--widgetBackground);
  transition: background-color 0.3s;
}

body[light-mode="dark"] #weatherDisplay {
  color: var(--colorDarkBackground);
  background-color: var(--widgetDarkBackground);
}

#additionalDisplay {
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
  font-size: small;
  background-color: var(--widgetAccent);
  transition: background-color 0.3s;
  color: var(--widgetBackground);
}

body[light-mode="dark"] #additionalDisplay {
  color: black;
  background-color: var(--widgetDarkAccent);
}

#mainContainer h1 {
  color: var(--colorDarkBackground);
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

body[light-mode="dark"] #mainContainer h1,
body[light-mode="dark"] #mainContainer p {
  color: var(--widgetDarkBackground);
}

#mainContainer {
  margin: 0rem 1rem;
}

#mainContainer p {
  color: var(--colorDarkBackground);
  margin: 1.5rem 1rem;
  text-align: center;
  font-style: italic;
  font-size: small;
}
